﻿@model ProdutoWeb.Models.Endereco

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPortal.cshtml";
}


<h2>Endereço</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">CEP:</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CepEndereco, new { htmlAttributes = new { @class = "form-control col-lg-1" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Endereço:</label>
            <div class="col-md-2">
                <select id="IdTipoLogradouro" name="IdTipoLogradouro" class="form-control"></select>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NomeEndereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Numero:</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.NumeroEndereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <label class="control-label col-md-2">Complemento:</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.ComplementoEndereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Bairro:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.BairroEndereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cidade:</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.CidadeEndereco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estado:</label>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.SiglaEstado, new SelectList(ViewBag.ListaEstados, "SiglaEstado", "NomeEstado"), "Selecione", new { @class = "form-control" })
            </div>
        </div>

        <input type="Button" name="Gravar" id="BotaoGravar" value="Gravar" />

    </div>
}


<script type="text/javascript">

    $(document).ready(function () {

        $("#IdTipoLogradouro").empty();  // Limpa todas as opções
        $("#IdTipoLogradouro").append(new Option("Selecione", "")); // Adiciona uma opção Inicial

        // Requisitando a lista em Ajax
        $.get("/Endereco/ListarTipoLogradouro")

            // Sucesso na Requisição
            .done(function (data) {

                // Loop na lista de Objectos Json
                $.each(data, function (i, item) {
                    // Adicionando os Item no combobox
                    $("#IdTipoLogradouro").append(new Option(item.NomeTipoLogradouro, item.IdTipoLogradouro));
                });
             })

            //Falha na Requisição
            .fail(function (status) {
                alert("Não foi possível listar os tipos de endereço. Detalhe: " + status.statusText);
            });
        // *****************************************************************************************


        // bloco de código para consultar o cep no evento Blur
        // *****************************************************************************************
        $("#CepEndereco").on('blur', function (event) {

            $.get("/Endereco/ConsultarEndereco/?cep=" + $("#CepEndereco").val())

            // Sucesso na Requisição
            .done(function (data) {
                // Exibindo as informações na Tela.
                $("#NomeEndereco").val(data.NomeEndereco);
                $("#IdTipoLogradouro").val(data.IdTipoLogradouro    );
                $("#BairroEndereco").val(data.BairroEndereco);
                $("#CidadeEndereco").val(data.CidadeEndereco);
                $("#SiglaEstado").val(data.SiglaEstado);
            })

            //Falha na Requisição
            .fail(function (status) {
                alert("Não foi possível consultar o endereço. Detalhe: " + status.statusText);
            });

        });
        // *****************************************************************************************

        $("#BotaoGravar").on('click', function (event) {

            $.post("/Endereco/Gravar", $("form").eq(0).serialize(), function (data) {
                alert(data.NomeEndereco + " cadastrado com sucesso.");
            });

        });


    });

</script>