﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPortal.cshtml";
}

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-1">Produto:</label>
        <div class="col-md-2">
            <select name="IdProduto" id="IdProduto" class="form-control">
                <option>Selecione</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            <h2>Notícias</h2>


            <table id="tabelaNoticias" class="table table-striped" cellspacing="0" cellpadding="0">
                <thead id="tabelaNoticiasHead">
                    <tr>
                        <th>Código</th>
                        <th>Título</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tabelaNoticiasBody">
                    <tr>
                        <td colspan='3'>Nenhuma notícia encontrada.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {

            // *****************************************************************************************
            $("#IdProduto").empty();  // Limpa todas as opções
            $("#IdProduto").append(new Option("Selecione", "0")); // Adiciona uma opção Inicial

            // Requisitando a lista em Ajax
            $.get("/Noticias/ListarTodosProdutos")

                // Sucesso na Requisição
                .done(function (data) {

                    // Loop na lista de Objectos Json
                    $.each(data, function (i, item) {
                        // Adicionando os Item no combobox
                        $("#IdProduto").append(new Option(item.NomeProduto, item.IdProduto));
                    });
                })

                //Falha na Requisição
                .fail(function (status) {
                    alert("Não foi possível listar os produtos. Detalhe: " + status.statusText);
                });
            // *****************************************************************************************



            // *****************************************************************************************
            $("#IdProduto").on('change', function (event) {
                var LinhaSemDados = "<tr><td colspan='3'>Nenhuma notícia encontrada.</td></tr>";

                $("#tabelaNoticiasBody").empty();
                $.get('/Noticias/ListarNoticiasPorProduto/' + $("#IdProduto").val())
                    .done(function (data) {
                        if ( data.length > 0 ) {
                            $.each(data, function (i, item) {
                                $("#tabelaNoticiasBody").append("<tr>" +
                                                                    "<td>" + item.IdNoticia + "</td>" +
                                                                    "<td>" + item.TituloNoticia + "</td>" +
                                                                    "<td>" + item.DataNoticia + "</td>" +
                                                                "</tr>");
                            });
                        } else {
                            $("#tabelaNoticiasBody").append(LinhaSemDados);
                        }
                    })
                    .fail(function (status) {
                        $("#tabelaNoticiasBody").append(LinhaSemDados);
                        alert("Não foi possível listar os produtos. Detalhe: " + status.statusText);
                    });
            });
            // *****************************************************************************************

        });

    </script>
