﻿
@{
    Layout = "~/Views/LayoutAdmin.cshtml";
    ProdutoWeb.Models.Usuario usuario = (ProdutoWeb.Models.Usuario)HttpContext.Current.Session["UsuarioLogado"];

}

<div class="container">
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Bem Vindo @usuario.NomeUsuario
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>