﻿@model ProdutoWeb.Models.Produto

@{
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir</title>
</head>
<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well">

                    <h2>Produto</h2>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label" })
                            @Html.DisplayFor(model => model.NomeProduto);
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Descrição:</label>
                            @Html.DisplayFor(model => model.DescricaoProduto)
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Preço:</label>
                            @Html.DisplayFor(model => model.PrecoProduto)
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Características:</label>
                            @Html.DisplayFor(model => model.CaracteristicasProduto)
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Imagem Padrão:</label>
                            @Html.DisplayFor(model => model.ImagemPadrao)
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Imagens</label>
                        </div>
                        <hr>

                        @Html.ActionLink("Voltar", "Index", new object { }, new { @class = "btn btn-default btn-lg" })
                        

                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>

</body>
</html>
