﻿@model ProdutoWeb.Models.Produto

@{
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir</title>
</head>
<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well">

                    <h2>Produto</h2>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @using (Html.BeginForm("Editar", "Produto", FormMethod.Post))
                    {
                        <!-- // HIDDEN IDPRODUTO -->
                        <!-- // HIDDEN IDPRODUTO -->
                        @Html.HiddenFor(model => model.IdProduto)
                        <!-- // HIDDEN IDPRODUTO -->
                        <!-- // HIDDEN IDPRODUTO -->

                        <div class="form-group">
                            @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Descrição:</label>
                            @Html.TextAreaFor(model => model.DescricaoProduto, new { @class = "form-control", @cols = 100, @rows = 2 })
                            @Html.ValidationMessageFor(model => model.DescricaoProduto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Preço:</label>
                            @Html.EditorFor(model => model.PrecoProduto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrecoProduto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Características:</label>
                            @Html.TextAreaFor(model => model.CaracteristicasProduto, new { @class = "form-control", @cols = 100, @rows = 4 })
                            @Html.ValidationMessageFor(model => model.CaracteristicasProduto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Imagem Padrão:</label>
                            @Html.EditorFor(model => model.ImagemPadrao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImagemPadrao, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="mesnagem">Imagens</label>
                        </div>
                        <hr>

                        @Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-default btn-lg" })
                        <input type="submit" value="Editar" class="btn btn-primary btn-lg" />

                    }


                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>

</body>
</html>
